body {
    margin: 0;
}

#container {

}

#bottomLayer {
    z-index: 0;
    left: 0px;
    top: 0px;
    position: absolute;
}

#shortPathLayer {
    z-index: 1;
    left: 0px;
    top: 0px;
    position: absolute;
}

#searchBar {
    z-index: 100;
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
}

#searchCtx {
    float: left;
    border: 0px;
    width: 300px;
    height: 30px;
    border-radius: 2px 0 0 2px;
    padding-left: 10px;
    box-shadow:1px 1px 2px #777;

    font-size: 90%;
    outline-width: 1px;
}

#searchCtxContainer {
    float: left;
    z-index: 1;
    position: relative;
}

#searchButtonContainer {
    float: left;
    margin: 0;
    z-index: 0;
    position: relative;
}

#searchButton {
    float: left;
    background-color: #4A8BF5;
    border: 0px;
    width: 70px;
    height: 32px;
    border-radius: 0 2px 2px 0;

    box-shadow:1px 1px 2px #777;

    position: absolute;
    z-index: -1;
}

#searchIcon {
    float: left;
    position: absolute;
    z-index: 0;

    width: 17px;
    margin-left: 27px;
    margin-top: 8px;
}