body {
    margin: 0;
}

#container {

}

#bottomLayer {
    z-index: 0;
    left: 0px;
    top: 0px;
    position: absolute;
}

#shortPathLayer {
    z-index: 1;
    left: 0px;
    top: 0px;
    position: absolute;
}